<input type="text" class="datetime" name="datetime" disabled
       value="{{ dt.iso8601_full }}" style="width: 320px;"/>
</br></br>
<input type="text" class="datetime__date_txt" name="datetime__date_txt" disabled
       value="{{ dt.iso8601_date }}"/>
<input type="text" class="datetime__time_txt" name="datetime__time_txt" disabled
       value="{{ dt.iso8601_time }}"/>
<input type="text" class="datetime__tz_offset" name="datetime__tz_offset" disabled
       value="{{ dt.tz_offset }}" size="8"/>
<select class="datetime__tz_name" name="datetime__tz">
    <option disabled selected value> -- select timezone --</option>
    {% for tz in all_tz %}
    <option value="{{ tz }}">{{ tz }}</option>
    {% endfor %}
</select>
<br>
<canvas id="canvas-{{ solution_id }}" width="200" height="200" style="background-color:#eee"></canvas>
<script>
    var canvas = document.getElementById("canvas-{{ solution_id }}");
    var ctx = canvas.getContext("2d");
    var radius = canvas.height / 2;
    ctx.translate(radius, radius);
    radius = radius * 0.90;
    drawClock(ctx, radius, "{{dt.iso8601_time}}");
</script>