<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Time When And Where</title>
    <style type="text/css">
        body {
            font-family: Open Sans, Arial, sans-serif;
            color: #444;
            padding: 0 1em;
        }

        main {
            max-width: 800px;
            margin: 0 auto;
        }

        input {
            padding: 0.5em;
        }

        .main-input {
            width: 100%;
            font-family: Open Sans, Arial sans-serif;
            font-size: 1em;
            box-sizing: border-box;
        }
    </style>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='select2.css') }}">
</head>
<body>
<h1 style="text-align: center;">Time When and Where</h1>
<main>
    <form>
        <input type="text" class="main-input datetime__txt" name="datetime__txt" autofocus
               value="" autocomplete="off"/>
        </br>
        <span class="datetime__error"></span>
        </br>
        <div id="solutions"></div>
    </form>
</main>
<script src="{{ url_for('static', filename='jquery.js') }}"></script>
<script src="{{ url_for('static', filename='jquery.debounce.js') }}"></script>
<script src="{{ url_for('static', filename='select2.js') }}"></script>
<script src="{{ url_for('static', filename='main.js') }}"></script>


<script>
    function drawClock(ctx, radius, time) {
        time = time.split(':');
        drawFace(ctx, radius, time);
        drawNumbers(ctx, radius);
        drawTime(ctx, radius, time);
    }

    function drawFace(ctx, radius, time) {
        var hour = parseInt(time[0]);
        if (hour < 6 || hour > 18) {
            var fg = "#333";
            var bg = "white";
        } else {
            var fg = "white";
            var bg = "#333";
        }

        var grad;
        ctx.beginPath();
        ctx.arc(0, 0, radius, 0, 2 * Math.PI);
        ctx.fillStyle = fg;
        ctx.fill();
        grad = ctx.createRadialGradient(0, 0, radius * 0.95, 0, 0, radius * 1.05);
        grad.addColorStop(0, bg);
        grad.addColorStop(0.5, fg);
        grad.addColorStop(1, bg);
        ctx.strokeStyle = grad;
        ctx.lineWidth = radius * 0.1;
        ctx.stroke();
        ctx.beginPath();
        ctx.arc(0, 0, radius * 0.1, 0, 2 * Math.PI);
        ctx.fillStyle = bg;
        ctx.fill();
    }

    function drawNumbers(ctx, radius) {
        var ang;
        var num;
        ctx.font = radius * 0.15 + "px arial";
        ctx.textBaseline = "middle";
        ctx.textAlign = "center";
        for (num = 1; num < 13; num++) {
            ang = num * Math.PI / 6;
            ctx.rotate(ang);
            ctx.translate(0, -radius * 0.85);
            ctx.rotate(-ang);
            ctx.fillText(num.toString(), 0, 0);
            ctx.rotate(ang);
            ctx.translate(0, radius * 0.85);
            ctx.rotate(-ang);
        }
    }

    function drawTime(ctx, radius, time) {
        var hour = parseInt(time[0]);
        var minute = parseInt(time[1]);
        var second = parseInt(time[2]);
        //hour
        hour = hour % 12;
        hour = (hour * Math.PI / 6) +
            (minute * Math.PI / (6 * 60)) +
            (second * Math.PI / (360 * 60));
        drawHand(ctx, hour, radius * 0.5, radius * 0.07);
        //minute
        minute = (minute * Math.PI / 30) + (second * Math.PI / (30 * 60));
        drawHand(ctx, minute, radius * 0.8, radius * 0.07);
        // second
        second = (second * Math.PI / 30);
        drawHand(ctx, second, radius * 0.9, radius * 0.02);
    }

    function drawHand(ctx, pos, length, width) {
        ctx.beginPath();
        ctx.lineWidth = width;
        ctx.lineCap = "round";
        ctx.moveTo(0, 0);
        ctx.rotate(pos);
        ctx.lineTo(0, -length);
        ctx.stroke();
        ctx.rotate(-pos);
    }
</script>

<script>

    $(document).ready(function () {
        $('select').select2();

        $('.datetime__txt').keyup($.debounce(function (e) {
            $el = $(this);
            $.ajax({
                "url": '{{ url_for("api_datetime") }}',
                "data": {"q": this.value}
            }).done(function (r) {
                if (r.error !== "")
                    $el.next(".datetime__error").addClass("flash").addClass("error").html(r.error);
                else
                    $el.next(".datetime__error").removeClass("flash").removeClass("error").html("");
                $('#solutions').html(r.rendered_solutions);
                // TODO:
                // $el.siblings(".datetime__tz_name").val(r.to_tz_resolve.tz_name).trigger('change');
                // var time = r.to_dt_resolve.time.split(':');
                // drawClock(time);
            });
        }, 500));
    });

</script>
</body>
</html>